<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   
    <!--
    Test MerchantID
    -->
    <add key="Ris.MerchantId" value="000000" />
    <add key="Ris.API.Key" value="" />
    <add key="Ris.Connect.Timeout" value="10000" />

    <add key="Ris.Version" value="0695" />
    <add key="Ris.Url" value="https://risk.beta.kount.net" />
    <add key="Ris.CertificateFile" value="certificate.pfx" />
    <add key="Ris.PrivateKeyPassword" value="11111111111111111" />
    <!--
    Specify the logger to use. The default loggers supplied with the Kount RIS
    SDK are NOP (a logger that silently discards all logging), and SIMPLE (a
    simple logger that writes messages to a specified file)
    -->
    <add key="LOG.LOGGER" value="SIMPLE" />
    <!--
    Logging level for SimpleLogger if it is enabled.
    Acceptable logging levels in order of decreasing severity are FATAL,
    ERROR, WARN, INFO, and DEBUG.
    -->
    <add key="LOG.SIMPLE.LEVEL" value="DEBUG" />
    <!--
    Specify the file name where the SimpleLogger will log messages to.
    -->
    <add key="LOG.SIMPLE.FILE" value="Kount-Ris-DotNet-SDK.log" />
    <!--
    SimpleLogger log path. This is the directory where the log file will be
    located. This directory must already exist.
    -->
    <add key="LOG.SIMPLE.PATH" value="C:\Logs" />
  </appSettings>
</configuration>