<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="Ris.API.Key" value="" />
    <add key="Ris.MerchantId" value="000000" />
    <add key="Ris.Config.Key" value="Config key set here" />
    <add key="Ris.Url" value="https://risk.beta.kount.net" />

    <add key="Ris.Version" value="0695" />
    <add key="Ris.CertificateFile" value="certificate.pfx" />
    <add key="Ris.PrivateKeyPassword" value="11111111111111111" />
    <add key="Ris.Connect.Timeout" value="10000" />
    <!--
    Specify the logger to use. The default loggers supplied with the Kount RIS
    SDK are NOP (a logger that silently discards all logging), and SIMPLE (a
    simple logger that writes messages to a specified file)
    -->
    <add key="LOG.LOGGER" value="SIMPLE" />
    <!--
    Logging level for SimpleLogger if it is enabled.
    Acceptable logging levels in order of decreasing severity are FATAL,
    ERROR, WARN, INFO, and DEBUG.
    -->
    <add key="LOG.SIMPLE.LEVEL" value="DEBUG" />
    <!--
    Specify the file name where the SimpleLogger will log messages to.
    -->
    <add key="LOG.SIMPLE.FILE" value="Kount-Ris-DotNet-SDK.log" />
    <!--
    SimpleLogger log path. This is the directory where the log file will be
    located. This directory must already exist.
    -->
    <add key="LOG.SIMPLE.PATH" value="C:\Logs" />
    <!--
    Optional setting. When is `ON` and SIMPLE logging is enabled, measure overall client 
    request elapsed time in milliseconds and logging result. Default value is `OFF`.
    -->
    <add key="LOG.SIMPLE.ELAPSED" value="ON" />
  </appSettings>
</configuration>